.timer-container {
    position: relative;
    overflow:hidden;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 100%;
    width: 100%;
    fill: rgb(89, 205, 163);
}

svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown 1s linear forwards;
    transform: scale(7) rotateY(-180deg) rotateZ(-90deg);
    transform-origin: center; /* Add this to set the center of scaling */
    box-shadow: 0 0 15px white;
}


@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}

.textBackground {
    position: absolute;
    left: -100px;
    top: -350px;
    opacity: 0.15;
    color: inherit;
    transform: rotate(-45deg);
    display: flex;
    justify-content: center;
    gap: 30px;
}

.textBackground > div > * {
    line-height: 1.2em;
}
